* {
    box-sizing: border-box;
}

body {
    background-color: rgb(161, 100, 223);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    cursor: pointer;
    background-color: rebeccapurple;
    margin: 1rem;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}