@import url('https://fonts.googleapis.com/css2?family=Ubuntu');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    /* <repeat-style> and <center on x,y axis and cover for bg-position> and <bg-image> */
    background: no-repeat center/cover url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80');
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    /*we want it behind the _% */
    filter: blur(0px);
    /* if i inc. the blur px e.g. 70, a space comes at boundary
     let's set it with top left width height  */
}

.loading-text {
    font-size: 50px;
    color: #fff;
}